.category--wrapper {
    height: 100%;
}

.category-flex--wrapper {
    height: 100%;
    overflow-y: auto;
}

.category-list--wrapper {
    padding: 8px 16px;
}

.example-card {
    margin: 10px 15px;
}

// .img-wrapper {
//     height: 150px;
// }
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.img-wrapper {
    display: flex;
    justify-content: center;
}

.category-header {
    width: 100%;
    margin-top: 2rem;
    .category-header--name {
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
    }
}

.category-main--search {
    width: 25%;
}

.category-nav--search {
    width: 100%;
}