<div fxLayout="row wrap" fxLayoutAlign="start start" class="category--wrapper">
    <div fxFlex="20%" fxFlex.lt-md="100%" class="category-flex--wrapper">
        <div class="category-list--wrapper">
            <mat-nav-list>
                <span *ngFor="let item of menu">
                    <span *ngIf="item.children && item.children.length > 0">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <div fxLayout="row" fxLayoutAlign="space-between center">
                                            <mat-icon>{{item.iconName}}</mat-icon>
                                            {{item.displayName}}
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <span *ngFor="let child of item.children">
                                    <mat-list-item (click)="redirectToCategory(child.route)">
                                        <div fxLayout="row" fxLayoutAlign="space-between center">
                                            <mat-icon>{{child.iconName}}</mat-icon>
                                            {{child.displayName}}
                                        </div>
                                    </mat-list-item>
                                </span>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </span>
                    <span *ngIf="!item.children || item.children.length === 0">
                        <mat-list-item (click)="redirectToCategory(item.route)">
                            <!-- Entradas principales -->
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <mat-icon>{{item.iconName}}</mat-icon>
                                {{item.displayName}}
                            </div>
                        </mat-list-item>
                    </span>
                </span>
            </mat-nav-list>
        </div>
    </div>
    <div fxFlex="80%" fxFlex.lt-md="100%" class="category-flex--wrapper">
        <!-- <app-products >
        </app-products> -->
        
        
        <ng-container *ngIf="!categorySelected">
            <div class="category-header">
                <p class="category-header--name">
                    Всі категорії
                </p>
            </div>
            <mat-grid-list cols="4" rowHeight="1:1">
                <mat-grid-tile>
                    <mat-card class="example-card">
                        <div class="img-wrapper">
                            <img mat-card-image
                                src="https://kot.sh/sites/default/files/styles/large/public/articles-image/18-prost-cup-preview.jpg?itok=2ZdnvAMk"
                                alt="Photo of a Shiba Inu">
                        </div>
                        <mat-card-content>
                            <p>
                                Description category 1
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>
                                <a [routerLink]="['/categories/category1']" routerLinkActive="router-link-active">View</a>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="example-card">
                        <div class="img-wrapper">
                            <img mat-card-image
                                src="https://kot.sh/sites/default/files/styles/large/public/articles-image/18-prost-cup-preview.jpg?itok=2ZdnvAMk"
                                alt="Photo of a Shiba Inu">
                        </div>
                        <mat-card-content>
                            <p>
                                Description category 2
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>
                                <a [routerLink]="['/categories/category2']" routerLinkActive="router-link-active">View</a>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="example-card">
                        <div class="img-wrapper">
                            <img mat-card-image
                                src="https://kot.sh/sites/default/files/styles/large/public/articles-image/18-prost-cup-preview.jpg?itok=2ZdnvAMk"
                                alt="Photo of a Shiba Inu">
                        </div>
                        <mat-card-content>
                            <p>
                                Description category 3
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>
                                <a [routerLink]="['/categories/category3']" routerLinkActive="router-link-active">View</a>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="example-card">
                        <div class="img-wrapper">
                            <img mat-card-image
                                src="https://kot.sh/sites/default/files/styles/large/public/articles-image/18-prost-cup-preview.jpg?itok=2ZdnvAMk"
                                alt="Photo of a Shiba Inu">
                        </div>
                        <mat-card-content>
                            <p>
                                Description category 4
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>
                                <a [routerLink]="['/categories/category4']" routerLinkActive="router-link-active">View</a>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="example-card">
                        <div class="img-wrapper">
                            <img mat-card-image
                                src="https://kot.sh/sites/default/files/styles/large/public/articles-image/18-prost-cup-preview.jpg?itok=2ZdnvAMk"
                                alt="Photo of a Shiba Inu">
                        </div>
                        <mat-card-content>
                            <p>
                                Description category 5
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>
                                <a [routerLink]="['/categories/category5']" routerLinkActive="router-link-active">View</a>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </ng-container>
        
        <router-outlet></router-outlet>
    </div>
</div>