<mat-toolbar class="main-topbar">
    <mat-toolbar-row class="toolbar--top mat-elevation-z6">
        <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-around center" fxLayoutGap="5px">
            
            <div fxLayout="row" fxFlex="10%" fxLayoutAlign="start start">
                <a class="topbar--item button fancy-button" routerLink="">
                    <img src="../../../../assets/images/logo.svg" height="32px" alt="Logo">
                </a>
            </div>
            <div fxFlex fxLayout fxLayoutAlign="center center" fxHide.xs>
                <ul fxLayout fxLayoutGap="15px" class="topbar-items">
                    <!-- <li> -->
                        
                    <!-- </li> -->
                    <li class="topbar-phone">
                        <mat-icon>phone</mat-icon>
                        <a href="tel:+380931129028">+380931129028</a>
                    </li>
                    <!-- <li>
                        <label id="switch" class="switch">
                            <input type="checkbox" (change)="toggleTheme()" id="slider">
                            <span class="slider round"></span>
                        </label>
                    </li> -->
                    <!-- <li> -->
                        <!-- </li> -->
                </ul>
            </div>
            <div fxLayout="row" fxFlex="10%" fxLayoutAlign="end" fxLayoutGap="25px">
                <span fxLayout="row" fxLayoutAlign="center center">
                    <label id="switch" class="switch">
                        <input type="checkbox" (change)="toggleTheme()" id="slider">
                        <span class="slider round"></span>
                    </label>
                </span>
                <a class="topbar--item button fancy-button" routerLink="/shopping-cart">
                    <i class="material-icons">shopping_cart</i>
                    Checkout
                </a>
            </div>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="toolbar--second mat-elevation-z4">
        <div fxHide.gt-xs>
            <button mat-icon-button (click)="onToggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <!-- <div>
            <a class="header-nav--item" routerLink="">Home</a>
        </div> -->
        <div fxFlex fxLayout fxLayoutAlign="center" fxHide.xs style="height: 100%;">
            <ul fxLayout fxLayoutGap="25px" class="navigation-items" >
                <!-- <li>
                    <label id="switch" class="switch">
                        <input type="checkbox" (change)="toggleTheme()" id="slider">
                        <span class="slider round"></span>
                    </label>
                </li> -->
                <li>
                    <a class="header-nav--item" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                        <span class="header-nav--item__text">
                            Головна
                        </span>
                    </a>
                </li>
                <li>
                    <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu"> 
                        <button mat-menu-item  *ngFor="let category of categoryList" (click)="redirectToCategory(category.name)">
                            <a>
                                {{category.displayName}}
                            </a>
                        </button>
                    </mat-menu> -->
                    <a class="header-nav--item" routerLink="/categories" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: false}">
                        <span class="header-nav--item__text">
                            Категорії
                        </span>
                    </a>
                </li>
                <li>
                    <a class="header-nav--item" routerLink="/about" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                        <span class="header-nav--item__text">
                            Про нас
                        </span>
                    </a>
                </li>
                <li>
                    <a class="header-nav--item" routerLink="/about" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                        <span class="header-nav--item__text">
                            Доставка
                        </span>
                    </a>
                </li>
                <!-- <li>
                    <a class="header-nav--item button fancy-button" routerLink="/shopping-cart">
                        <i class="material-icons">shopping_cart</i>
                        Checkout
                    </a>
                </li> -->
            </ul>
        </div>
    </mat-toolbar-row>
    <!-- <mat-toolbar-row>
        <span>ThirdRow</span>
    </mat-toolbar-row> -->
</mat-toolbar>

<!-- <mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="">Home</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <label id="switch" class="switch">
                    <input type="checkbox" (change)="toggleTheme()" id="slider">
                    <span class="slider round"></span>
                </label>
            </li>
            <li>
                <a class="header-nav--item" routerLink="/categories">
                    Категорії
                </a>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #menu="matMenu"> 
                    <button mat-menu-item  *ngFor="let category of categoryList" (click)="redirectToCategory(category.name)">
                        <a>
                            {{category.displayName}}
                        </a>
                    </button>
                </mat-menu>
            </li>
            <li>
                <a class="header-nav--item" routerLink="/products">Products</a>
            </li>
            <li>
                <a class="header-nav--item" routerLink="/about">About</a>
            </li>
            <li>
                <a class="header-nav--item button fancy-button" routerLink="/shopping-cart"><i class="material-icons">shopping_cart</i>Checkout</a>
            </li>
        </ul>
    </div>
</mat-toolbar> -->