
<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Login</mat-card-title>
    <form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="login(loginForm.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">

        <mat-form-field>
          <input matInput type="text" placeholder="Username" formControlName="name" id="name">
          <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
          <!-- <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error> -->
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password" id="password">
          <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
          <!-- <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error> -->
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>