
<div fxLayout="row wrap" fxLayoutAlign="start start" class="layout-wrapper">
    <a fxLayout="row" (click)="backToCategories()">
      <mat-icon>keyboard_backspace</mat-icon>
      всі категорії
    </a>
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center" class="category-header">
        <p class="category-header--name">
            {{category}}
        </p>
    </div>
    <div fxFlex="100%" fxFlex.lt-md="100%" class="flex-wrapper">
        <div fxFlex fxLayout="column" fxLayoutGap="10px" style="height: 100vh">
            <div fxLayout="row wrap">
              <!-- loop over the cardList and show the cards -->
              <div
                *ngFor="let card of categoryItems"
                fxFlex="25"
                fxFlex.md="33"
                fxFlex.sm="50"
                fxFlex.xs="100"
                fxLayout="column"
                style="padding: 5px;"
              >
                <!-- cards here -->
                <mat-card class="mat-elevation-z1">
                  <img mat-card-image [src]="card.img" />
                  <mat-card-title> {{ card.title }} </mat-card-title>
                  <mat-card-content> {{ card.title }} </mat-card-content>
                  <mat-card-footer>
                    <button fxFlex mat-flat-button color="primary" (click)="showGood(card)">
                      Переглянути товар {{card.title}}
                    </button>
                  </mat-card-footer>
                </mat-card>
              </div>
            </div>
          </div>
    </div>
</div>