<app-layout [class.my-alternate-theme]="!isDarkTheme">
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <app-sidebar (sidenavClose)="sidenav.close()" (themeChanged)="changeTheme()"></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content style="overflow:hidden !important">
      <app-header (sidenavToggle)="sidenav.toggle()" (themeChanged)="changeTheme()"></app-header>
      <span class="layout-spacer"></span>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>   