<section fxLayout="column" fxLayoutAlign="center center">
  <mat-card fxFlex="100%" fxFlex.md="100%">
    <mat-card-title>Create a new Product</mat-card-title>
    <form [formGroup]="categoryForm" autocomplete="off" novalidate (ngSubmit)="createOrEditCategory(categoryForm.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field>
          <input matInput type="text" placeholder="Product name" formControlName="name" id="name">
          <mat-hint align="end">Not more then 20 characters long.</mat-hint>
          <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
          <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 20 characters</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" placeholder="Product price" formControlName="price" id="price">
        </mat-form-field>

        <mat-form-field>
          <textarea matInput type="text" placeholder="Product description" formControlName="description" id="description">
          </textarea>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Product sellerName" formControlName="sellerName" id="sellerName">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Product code" formControlName="code" id="code">
        </mat-form-field>
        
        <mat-form-field>
            <mat-select placeholder="Product Category" name="categoryId" id="categoryId" formControlName="categoryId">
              <mat-option *ngFor="let category of categoryList" [value]="category.id">{{ category.name }}</mat-option>
          </mat-select>
        </mat-form-field>
  
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!categoryForm.valid">Create</button>
        <!-- <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button> -->
        <button mat-raised-button color="primary" [mat-dialog-close]="true">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>